[submodule "godot-next"]
	path = godot-next
	url = git@github.com:gregkrsak/godot-next.git
[submodule "godot-multiplayer-template"]
	path = godot-multiplayer-template
	url = git@github.com:gregkrsak/godot-multiplayer-template.git
[submodule "godot-event-bus"]
	path = godot-event-bus
	url = git@github.com:gregkrsak/godot-event-bus.git
[submodule "godot-addon-integer_resolution_handler"]
	path = godot-addon-integer_resolution_handler
	url = git@github.com:gregkrsak/godot-addon-integer_resolution_handler.git
[submodule "godot-engine.file-editor"]
	path = godot-engine.file-editor
	url = git@github.com:gregkrsak/godot-engine.file-editor.git
[submodule "godot-console"]
	path = godot-console
	url = git@github.com:gregkrsak/godot-console.git
